# random secret key, use for example `base64 /dev/urandom | head -c50` to generate one
SECRET_KEY=test

DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db_recipes
POSTGRES_DB=djangodb
POSTGRES_PORT=5432
POSTGRES_USER=djangouser
POSTGRES_PASSWORD=